/* DO NOT DELETE THIS LINE */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* This enables the use of JS external files */
toolbarbutton#alltabs-button {
    -moz-binding: url("userChrome.xml#js")}
	
/* TAB CLOSE BUTTON ALWAYS VISIBLE */
/* Show close button on hover */
.tab-close-button{ display: none }
.tabbrowser-tab:not([pinned]):hover .tab-close-button{
    display: -moz-box !important
}


/* ROUNDED TABS */ 
/* v Delete the "/*" after this comment to use it */ 

/* Tabs border color */
.tabbrowser-tab {
/*	border-top: 1px solid rgba(0,0,0, .4) !important; */
	border-right: 1px solid rgba(0,0,0, .4) !important}
	/* TAB READ/UNREAD COLORS */

	
.bookmark-item[container] {
  fill: yellow !important;
}


.tabbrowser-tab[pending] {
  background-color: #CFCFCF !important;
  background-image: none !important;
  color: black !important;
  font-weight: bold !important;
}

.tab-background[selected="true"] {
  background-color: #F7F7F7 !important;
  background-image: none !important;
}
.tabbrowser-tab[busy] {
  font-style: italic;
}


.tabbrowser-tab[pinned] {
  border-right: 2px solid rgba(0,0,0, .4) !important}
}
