/* DO NOT DELETE THIS LINE */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* This enables the use of JS external files */
toolbarbutton#alltabs-button {
    -moz-binding: url("userChrome.xml#js")}
	
/* TAB CLOSE BUTTON ALWAYS VISIBLE */
/* Show close button on hover */
.tab-close-button{ display: none }
.tabbrowser-tab:not([pinned]):hover .tab-close-button{
    display: -moz-box !important
}


/* ROUNDED TABS */ 
/* v Delete the "/*" after this comment to use it */ 

/* Tabs border color */
.tabbrowser-tab {
  border-top: 1px solid rgba(0,0,0, .4) !important;
  border-right: 1px solid rgba(0,0,0, .4) !important}
	/* TAB READ/UNREAD COLORS */

	
.bookmark-item[container] {
  fill: blue !important;
}


.tabbrowser-tab[pending] {
  background-color: #CFCFCF !important;
  background-image: none !important;
  color: black !important;
  font-weight: bold !important;
}

.tab-background[selected="true"] {
  background-color: #F7F7F7 !important;
  background-image: none !important;
}
.tabbrowser-tab[busy] {
  font-style: italic;
}


.tabbrowser-tab[pinned] {
/*	  border-top: 1px solid rgba(0,0,0, .4) !important; */
  border-right: 2px solid rgba(0,0,0, .4) !important};
}

.tabbrowser-tab[fadein]:not([pinned]) {
flex-grow: 1;
min-width: 95.7px !important;
max-width: 50.7px !important;
}
	border-left: 0px solid rgba(0,0,0, .4) !important;
	border-radius: 0px !important;
  }

/* Selected (loaded) */
.tabbrowser-tab[selected="true"] .tab-label {
  color: var(--Loaded-and-selected-text) !important;
  font-style: var(--Loaded-and-selected-italic) !important;
  font-weight: var(--Loaded-and-selected-bold) !important;
  background-color: var(--Loaded-and-selected-background) !important;
  
  }

/* Loaded but unread (not selected) */
.tabbrowser-tab:not([selected="true"])[unread] .tab-label {
  color: var(--Loaded-but-unread-text) !important;
  font-style: var(--Loaded-but-unread-italic) !important;
  font-weight: var(--Loaded-but-unread-bold) !important;
  background-color: var(--Loaded-but-unread-background) !important;
  }

/* ME */  
.tabbrowser-tab:not([selected="true"])[pending] .tab-background,
.tabbrowser-tab:not([selected="true"])[visited] .tab-background {
  background: #cdcdcd !important;
  opacity: .8 !important;
  margin: 0 -0.5px !important;
  
 }

  
/* Not loaded yet (also visited) */
.tabbrowser-tab:not([selected="true"])[pending] .tab-label,
.tabbrowser-tab:not([selected="true"])[visited] .tab-label {
  color: var(--Not-loaded-text) !important;
  font-style: var(--Not-loaded-italic) !important;
  font-weight: var(--Not-loaded-bold) !important;
  background-color: var(--Not-loaded-background) !important;
  margin: 0 -0.5px !important;
  opacity: .8 !important;
  }
  

/* loading */
.tabbrowser-tab[busy] .tab-text.tab-label {
  color: var(--Loading-text) !important;
  font-style: var(--Loading-italic) !important;
  font-weight: var(--Loading-bold) !important;
  background-color: var(--Loading-background) !important}
	
	
/* This enables the use of JS external files */
toolbarbutton#alltabs-button {
    -moz-binding: url("userChrome.xml#js")}
